@media screen and (min-width: 381px) and (max-width: 500px) and (orientation: landscape) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .item-title {
        font-size: 20px;
    }
}

@media screen and (min-width: 381px) and (max-width: 500px) and (orientation: portrait) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .item-title {
        font-size: 20px;
    }
}

@media screen and (min-width: 381px) and (max-width: 500px) {
    #desktop-title {
        display: none;
    }
    
    #mobile-title {
        display: inline-block;
    }
}